/* Reset some default styles */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--color-background);
    font-family: "Twemoji Country Flags", Arial, Helvetica, sans-serif;
    padding-top: 10rem;
}

a {
    all: unset;
}

.cliquable {
    cursor: pointer;
}
