/* TESTIMONIALS SECTION */

#testimonials {
    padding-top: 5%;
    padding-left: 12%;
    padding-right: 12%;
    padding-bottom: 5%;
    text-align: center;
}

#testimonials_title h2 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-bottom: 3%;
}

#testimonials_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.testimonial {
    width: 90%;
    max-width: 400px;
    padding: 1.5rem;
    border: 2px solid var(--color-accent-primary);
    border-radius: 15px;
    background-color: var(--color-white);
    text-align: left;
    transition: box-shadow 0.3s ease;
}

.testimonial:hover {
    box-shadow: 0 6px 10px var(--color-shadow-medium);
}

.testimonial_text {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 1rem;
    color: var(--color-text-dark-gray);
}

.testimonial_author {
    font-size: 1rem;
    font-style: italic;
    text-align: right;
    color: var(--color-text-medium-gray);
}
